<footer>
    <p>&copy; 2026 Leandro Canela Web Developer <span class="ins"> Ins Nicolau Copernic</span>.</p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }

    p { 
        font-weight: bold;
    }

    span {
        color: var(--secondary-txt-color);
    }
</style>